<html>
  <section class="login-container">
    <div class="w-10 h-10 bg-primary rounded-lg flex items-center justify-center">
          <span class="text-white font-bold text-lg">M</span>
        </div>
    <h1 class="text-2xl font-bold text-gray-800 mt-4">Iniciar Sesión</h1>
  <form (ngSubmit)="login()" autocomplete="off">
    <label>
      Usuario
      <input type="text" [(ngModel)]="username" name="username" required />
    </label>
    <label>
      Contraseña
      <input type="password" [(ngModel)]="password" name="password" required />
    </label>
    <div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>
<p 
  class="text-gray-600 text-center cursor-pointer hover:underline" 
  onclick="document.getElementById('forgotModal').showModal()"
>
  ¿Olvidaste tus credenciales?
</p>


<dialog id="forgotModal" class="modal">
  <div class="modal-box max-w-sm">
    <h3 class="font-bold text-lg">Recuperar contraseña</h3>
    <p class="py-4">
      Dirígete con el administrador del sistema para recuperar tu contraseña.
    </p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-sm btn-primary text-white">Entendido</button>
      </form>
    </div>
  </div>
</dialog>

    <button class="login-btn" type="submit">Entrar</button>
    
  </form>
  
</section>
</html>

